.faqSection{
    width: 100%;
    height: auto;
    margin-left: 0;
    background-color: #fff;
    margin-top: 1em;

}
.header{
    width:96%;
    margin-left: 2%;
    margin-top:0px;
    border-bottom:1px solid #eeeeee;
    height:3em;
}
.content{
    margin:0.5em;
    width:100%;
    height:auto;
}
.titleLine{
    width:100%;
    height: auto;
}
.titleLine div{
    display: inline;
}
.redCircle{
    display: inline-block;
    width:0.5em;
    height:0.5em;
    border-radius: 0.5em;
    background-color: red;
}
.title1{
    z-index: 2;
    width:50%;
    margin-left: 25%;
    margin-right: auto;
    font-size: 1.2em;
}
.title2{
    color:red;
    font-size: 1em;
}
.contectfont{
    color:gray;
    width:100%;
    height:auto;
    line-height: 1em;
    font-size: 0.8em;
}