.faqSection{
    width: 100%;
    height: auto;
    margin-left: 0;
    background-color: #fff;
}
.header{
    width:96%;
    margin-left: 2%;
    margin-top:0px;
    border-bottom:1px solid #eeeeee;
}