<!DOCTYPE html>
<head>
	<!--inline[../../common/page/head.ejs]-->
	<title>活期计划详情</title>
	<link rel="stylesheet" type="text/css" href="../static/dqhq.css?__inline">
</head>
<body>
	<!--inline[../static/page/menu.ejs]-->
	<br/>
	<!--inline[../static/page/center.ejs]-->

	<section class="page">
		<div class = "blockDiv">
		
		活期盈是什么
		<p>活期盈是椰子理财打造的灵活性理财产品
		100元起投，随存随取。</p>
		
		
		活期盈资金能不能直接投资具体项目？
		<p>活期盈不能直接投资具体项目。（提现到账户余
		额后可以进行项目投资）您可以申请提现赎回，
		届时使用账户余额进行项目投资。</p>
		
		活期盈的转入转出是否收费？
		<p>
		每月第1笔（活期与项目共同计算）提现将不收
		取任何费用，自第2笔开始收取每笔2元的费用。</p>
		
		活期盈的资金安全有保障吗？
		<p>
		活期盈都是对接（建议加入“实际”两个字）项目
		的，项目都来源于央企、国企的应收账款项目。
		同时，我们拥有专业的风控、法律、产品团队，
		360度全方面保障您的个人利益。</p>
		
		投资收益怎么计算？
		<p>
		收益采取即日产生利息模式，即您在活期盈投入
		资金后当天开始起息。
		您获得的单日收益=（活期盈投资金额+理财券投
		资金额）*年化收益率/365
		为了感谢您支持椰子理财，在活期盈投资时，您
		每多存1个月，系统自动帮您在当前年化收益率
		基础上额外加息0.5%，最高12%封顶。
		</p>
	
		举例：
		<p>
		您在活期盈投资了20,000元，已投资10天，投入
		5,000元理财券。您10天的收益为
		（20,000+5,000）* 6% *10/365=41.1，
		既（即）您届时的收益为41.1元</p>
		
		
		如何获得更高的投资年化收益率？
		<p>
		活期盈的起始年化收益率为6%，您每多存1个月，
		系统自动帮您在当前年化收益率基础上额外加息
		0.5%，最高12%封顶。您选择赎回且活期盈剩余
		在投金额少于100元，则年化收益率回到原始起
		点，按6%计算。
		</p>
		
		</div>
	</section>	
	 <!--inline[../../common/page/foot.ejs]-->
	<script  src="../static/dqhq.js?__inline"></script>

</body>
