	<section class="page">
		<table class = "tablesty">
			<tr>
				<td class = "firstTd">转入条件：</td>
				<td>100元起投</td>
			</tr>
			<tr>
				<td class = "firstTd">计息方式：</td>
				<td>按日计息，当日投资即起息，赎回当日不计息</td>
			</tr>
			<tr>
				<td class = "firstTd">赎回规则：</td>
				<td>为了保障投资者收益最大化，最近
			        投资的本金最先出。赎回的利息按
			        照等比原则。例如，您投资了3笔
			        分别为，3000元，4000元，3000元
			        共产生利息200元。当赎回2000元，
			        产生利息40元。</td>
			</tr>
			<tr>
				<td class = "firstTd">查看收益：</td>
				<td>次日可查看收益。我的财富-零钱计划投资。</td>
			</tr>
		</table>
	</section>

	<section class="page">
		<div class = "divp1">
		<p class = "page2p">零钱计划是椰子理财推出的活期理财产品，只在为您提供更加灵活的理财方式。零钱计划的项目均来源于国宝计划中或通过国宝计划的审核（风险低于万分之一，上市央企国企项目）的部分项目作为投资标。我们通过技术系统的支持，依照分散投标的规则，保证您的每一笔钱都投入到真实且有保障的项目当中。您在投资当天就产生收益，所有的收益都在您的财富中可随时查询。</p>
		<div>
		<img class = "messageImg" src="../image/message.jpg"/>
	</section>