<!DOCTYPE html>
<html>
<head>
    <!--inline[../../common/page/head.ejs]-->
    <title>新手引导</title>
    <link rel="stylesheet" type="text/css" href="../../common/static/zepto.fullpage.css?__inline">
    <link rel="stylesheet" type="text/css" href="../static/news_guiding.css?__inline">
</head>
<body>
    <div class="wp">
        <div class="wp-inner">
            <div class="page page1">
                <div class="grayDiv"></div>
                <div class="content">
                    <h3>轻松注册  &nbsp;  &nbsp;只需三步</h3>
                    <span class="badge">1</span>
                    <span class="grayFont">充值投资央企项目</span>
                    <img src="../static/image/news_guiding/register.png?__inline" alt="">
                </div>
            </div>
            <div class="page page2">
                <div class="grayDiv"></div>
                <div class="content">
                    <h3>轻松注册  &nbsp;  &nbsp;只需三步</h3>
                    <span class="badge">2</span>
                    <span class="grayFont">绑定银行卡完成认证</span>
                    <img src="../static/image/news_guiding/bouding.png?__inline"  alt="">
                </div>
            </div>
            <div class="page page3">
                <div class="grayDiv"></div>
                <div class="content">
                    <h3>轻松注册  &nbsp;  &nbsp;只需三步</h3>
                    <span class="badge">3</span>
                    <span class="grayFont">充值投资央企项目</span>
                    <img src="../static/image/news_guiding/invest.png?__inline" alt="">
                </div>
            </div>
            <div class="page page4">
                <div class="articleTitle"><span></span>平台保障</div>
                <article>
                    <h5>优质项目来源</h5>
                    <p>我们的投资标的主要来源于成熟稳定的上市央企或世界500强企业的相关融资资产。</p>
                    <h5>携手银联网络支付</h5>
                    <p>椰子理财使用银联网络支付，为你提供银行式的支付安全保障。</p>
                    <h5>风险保障金账户</h5>
                    <p>椰子理财设立2000万风险保障金账户，本息安全有保障。</p>
                    <h5>实缴资本更踏实</h5>
                    <p>椰子理财注册资本金实缴达1个亿，资金雄厚有保障</p>
                    <h5>专业风控团队</h5>
                    <p>专业的风控团队把关，包括且不限于多层信用审查、还款能力调查、保障措施审核、实地回访对账，确保所有项目信息真实有效合法，多维度保障您的个人权益。</p>
                
                </article>
            </div>
            <div class="page page5">
                <article>
                    <h5>全面法律保障</h5>
                    <p>椰子理财聘请了亚洲知名律师事务所，北京盈科（上海）律师事务所进行全方位的法律文件设计，确保您在椰子理财的所有投资可以合理合法的追索相应权益。</p>
                    <h5>承诺回购无忧</h5>
                    <p>我们坚持，每一笔投资项目，都需要合作机构承诺及时回购或进行担保。一旦资产出了任何问题，合作机构都会及时垫付，投资人的资金不会轻易受到干扰。</p>
                </article>
            </div>
        </div>
    </div>

    <!-- <span class="start"><b>^</b></span> -->
    <div class="fixBottom">
        <a href="" class="go">赶快去投资 > > </a>
    </div>
    <!--inline[../../common/page/foot.ejs]-->
    <script type="text/javascript" src="../../common/static/zepto.fullpage.js?__inline"></script>
    <script>
    $('.wp-inner').fullpage();
    </script>
</body>
</html>
